/* Main stylesheet for this web app */
body
{
    background: #CCCC99;
    padding:0px;
    margin: 0px;
}
#header
{
    width:100%;
    height:122px;
    padding-top: 6px;
    margin:0px;
    background-color: darkred;
}
#headerButtons
{
    padding-right: 25px;
}
#header > #headerButtons > button
{
    float:right;
    margin-right:2px;
}
#main
{
    margin-left: auto;
    margin-right: auto;
    padding-top:25px;
    padding-bottom:25px;
    background-color: #FFFFCC;
    box-shadow: 10px 10px 5px #888888;
    max-width: 1024px;
    width:80%;
    margin-top:25px;
    text-align:center;
}
#search
{
    width:256px;
}
